/* Site Colors */
.text-sky{
    color: #66D2B4;
}
.bg-sky{
    background-color: #66D2B4;
}
.btn-sky{
    color: #fff;
    background-color: #66D2B4;
    border-color: #66D2B4;
}

.text-gray{
    color: #7A7A7A;
}
.bg-gray{
    background-color: #7A7A7A;
}
.btn-gray{
    color: #fff;
    background-color: #7A7A7A;
    border-color: #7A7A7A;
}
/* ******** */

/* Global Settings */

img {
    max-width: 100%;
    height: auto;
}

/* End Global Settings  */

/* Navbar */

.site-navbar {
    top: 0px;
    left: 0px;
    padding: 20px 0;
}

.site-navbar .navbar-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-navbar .navbar-sections .navbar-section-links .nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.site-navbar .navbar-sections .navbar-section-links .nav-links .nav-link:nth-child(4) {
    color: #66D2B4;
}

.site-navbar .navbar-sections .navbar-section-brand .menu-toggler {
    position: relative;
    top: 5px;
    display: none;
    font-size: 30px;
    margin: 0 0 0 70px;
    font-weight: bold;
}

.site-navbar .navbar-sections .navbar-section-btn .contact-btn {
    width: 210px;
    height: 50px;
    box-shadow: 0px 12px 33px #0084FF33;
    border-radius: 27px;
    opacity: 1;
    padding: 0.7rem 0.75rem;
}

/* End Navbar */

/* Hero Section */
.hero-section {
    /* height: auto; */
    background: #fff url('../img/dotted-world-map.png') no-repeat;
    background-size: contain;
    padding: 75px 35px 50px 35px;
}

.hero-section .hero-section-intro {
    position: relative;
    padding: 15px;
}
.hero-section .follow-media i {
    margin: 0 0 0 10px;
}

.small-title {
    color: #7A7A7A;
}
.big-title {
    font-size: 40px;
    font-weight: bold;
}

.hero-section .hero-section-img {
    position: relative;
    text-align: center;
}

.hero-section .hero-secion-box {
    position: relative;
    top: -15px;
    background-color: #fff;
    border-left: 10px solid #EECB3F;
    border-radius: 7px;
    padding: 45px 70px 20px 70px;
    color: #7A7A7A;
    box-shadow: 0px 3px 89px #00000029;
}
/* End Hero Section  */

/* Social Medias */
.social-media {
    padding: 60px 40px;
}
/* End Social Medias  */

/* Services */
.services {
    padding: 40px 40px;
}

.service-card {
    display: flex;
    border-radius: 15px;
    border-color: #fff;
    background: #fff;
    box-shadow: 0px 12px 33px #00000029;
    margin-bottom: 30px;
}
.service-card .service-card-body h4 {
    color: #0382F9;
}
/* End Services */


/* Responsiveness */

@media (max-width: 991.98px) {

    /* Navbar Responsiveness */

    .site-navbar .navbar-sections {
        flex-direction: column;
        text-align: center;
    }

    .site-navbar .navbar-sections .navbar-section-brand {
        order: -1;
    }

    .site-navbar .navbar-sections .navbar-section-brand .menu-toggler {
        display: inline-block;
    }

    .site-navbar .navbar-sections .navbar-section-links {
        margin: 15px 0 0 0;
        padding: 15px;
    }

    .site-navbar .navbar-sections .navbar-section-links .nav-links {
        flex-direction: column;
        border: 2px solid #66D2B4;
        background-color: #66D2B4;
        border-radius: 15px 50px;
        padding: 15px;
        margin: 0;
    }

    .site-navbar .navbar-sections .navbar-section-links .nav-links .nav-link:nth-child(4) {
        color: #fff;
    }

    .site-navbar .navbar-sections .navbar-section-btn {
        display: none;
    }

    /* End Navbar Responsiveness */
}

@media (max-width: 767.98px) {
    .service-card {
        display: block;
    }

    .service-card .service-card-img {
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* End Responsiveness */
